/* Estilos para el fondo oscurecido */
#couponAddedModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: fadeIn 0.5s;
}

/* Modal Content */
.modal-content-cupon-add {
    position: relative;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
    height: 34%;
    max-width: 300px;
    max-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (min-width: 1025px) and (max-width: 4000px) {
    .modal-content-cupon-add {
        width: 30%;
        height: 60%;
    }
}

@media (min-width: 375px) and (max-width: 1025px) {
    .modal-content-cupon-add {
        max-width: 300px;
        width: 100%;
        height: 60%;
    }
}

.modal-content-cupon-add .checkmark {
}

    .modal-content-cupon-add .checkmark img {
        width: 80px;
        height: 80px;
    }

.modal-header-cupon-add, .modal-footer-cupon-add {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: sticky;
    z-index: 10;
}

.modal-header-cupon-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #888;
}

    .modal-header-cupon-add h2 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }

.modal-body-cupon-add {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea al inicio para permitir desplazamiento */
}

.modal-body-cupon-add h2 {
    font-family: "Speedee", arial, helvetica, sans-serif;
    color: #292929;
    font-size: 20px;
    margin-bottom:0;
}

.modal-footer-cupon-add {
    bottom: 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cupon-modal-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}