/* CARRITO */

/*INICIO Botón carrito*/
.cart-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #E23E57;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
}

    .cart-button label {
        cursor: pointer;
    }

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}
/*FIN Botón carrito*/


.card-cart {
    max-width: 380px;
    width: 380px;
    max-height: 144px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

    .card-cart:hover {
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    }

.cart-item-image {
    width: 125px;
    height: 125px;
    border: none;
    border-radius: 3%;
}

#cartItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #cartItems .card-content h3 {
        width: 20px;
    }

    #cartItems .card-content p {
        width: 20px;
    }

.card-cart-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-cart-text {
    flex: 1;
    padding-right: 10px;
}

.card-cart-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-image {
    border-radius: 5px;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija en la pantalla */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita el scroll si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.modal-content {
    position: relative;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Ancho máximo del modal */
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    height: 80vh; /* Altura fija del modal como porcentaje de la ventana */
    max-height: 80vh;
    overflow: hidden;
}

.modal-header, .modal-footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: sticky;
    z-index: 10;
}

.modal-header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea al inicio para permitir desplazamiento */
}

.modal-footer {
    bottom: 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#totalContainer {
    text-align: left;
}

#payButtonContainer {
    text-align: right;
}

.pay-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.cart-button:hover {
    background-color: #0056b3;
}

.card-cart {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media (min-width: 375px) and (max-width: 415px) {
    .card-cart {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .modal-content {
        width: 95%;
    }
}

.card-cart-content {
    display: flex;
    flex-direction: row;
}

.card-cart-text {
    flex-grow: 1;
    padding: 10px;
}

.card-cart-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .card-cart-image img {
        max-width: 100%;
        max-height: 100%;
    }
