@model IEnumerable<PedidosApp.Models.CuponModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout3";
}

<link href="~/css/cupones/stylesCupones.css" rel="stylesheet" />
<link href="~/css/cupones/stylescuponesconfirmation.css" rel="stylesheet" />
@* Global: *@
<link href="~/css/general/stylescarrito.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!DOCTYPE html>
<html>
<head>
    <title>Pedidos APP</title>
</head>
<body>

    <section class="container--section">
        <h2 class="">Promociones</h2>
        <div class="container">
            @foreach (var item in Model)
            {
                <a>
                    <div class="card" id="card-@item.Id_Cupon">
                        <div class="card-content">
                            <div class="discount-circle">@item.PorcentajeDto.ToString("0")%</div>
                            <div class="mcd-store-menu-category-item__title mcd-store-menu-category-item__title--is-clamped">@item.Descripcion</div>
                            <div class="mcd-store-menu-category-item__calories">$@item.PorcentajeDto.ToString("0.00")</div>
                        </div>
                        <div class="card-image">
                            <img src="@item.Url_Imagen" alt="Imagen"
                                 class="image-art" data-url="@item.Url_Imagen">
                        </div>
                    </div>
                </a>
            }
        </div>
    </section>

    <!-- Modal de Cupón Agregado -->
    <div id="couponAddedModal" class="modal">
        <div class="modal-content-cupon-add">
            <div class="modal-header-cupon-add">
                <h2>Cupón agregado</h2>
            </div>
            <div class="modal-body-cupon-add">
                <div class="checkmark">
                    <img src="~/logos/check-png.png" />
                </div>
                <h2>Su número de cupón es:</h2>
                <h2>123-456-789</h2>
            </div>
            <div class="modal-footer-cupon-add">
                <div id="ver-cupon-modal-container">
                    <button id="ver-cupon-modal" class="cupon-modal-button">Ver cupón</button>
                </div>
                <div id="salir-cupon-modal-container">
                    <button id="salir-cupon-modal" class="cupon-modal-button">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts {
    <script src="~/js/cuponesscript.js"></script>
    <script src="~/js/carritoscript.js"></script>
}
