@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Calibri;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    padding-top: 100px;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px !important;
}

    .container a {
        text-decoration: none !important;
        color: black !important;
        cursor: pointer;
    }

.container--section {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
    width: 300px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

@media (min-width: 375px) and (max-width: 415px) {
    .card {
        position: relative;
        max-width: 250px;
        width: 250px;
        display: flex;
        background-color: white;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        margin: 10px;
    }
}

.card:hover {
    box-shadow: 0 8px 8px rgba(0,0,0,0.2);
}

.card-content {
    padding-right: 5px;
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .card-content h3 {
        margin: 0;
    }

    .card-content hr {
        color: #333;
    }

.card-image {
    width: 70px;
    height: 120px;
    display: flex;
}

    .card-image img {
        width: 80px;
        height: 80px;
        border: none;
        border-radius: 5%;
    }

.price {
    margin-top: auto;
}

/* Animaciones de despliegue y repliegue */
@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 1000px; /* Ajustar según el contenido esperado */
        opacity: 1;
    }
}

@keyframes collapse {
    from {
        max-height: 1000px; /* Ajustar según el contenido esperado */
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: 0;
    }
}

.expanding {
    overflow: hidden;
    animation: expand 1.0s ease-out forwards;
}

.collapsing {
    overflow: hidden;
    animation: collapse 0.5s ease-out forwards;
}
/* Animaciones de despliegue y repliegue */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.titulo-menu {
    text-align: center;
    justify-content: center;
    color: #333;
}

/*MC*/
.mcd-store-menu-category-item .mcd-store-menu-category-item__title--is-clamped {
    text-overflow: ellipsis;
    display: block;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mcd-store-carousel-product-item .mcd-store-menu-category-item__title--is-clamped {
    display: -webkit-box;
    height: auto;
}

.mcd-store-carousel-product-item:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.mcd-store-menu-category-item .mcd-store-menu-category-item__title--is-clamped {
    text-overflow: ellipsis;
    display: block;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mcd-store-menu-category-item__calories {
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    width: 100%;
    color: #292929;
}

    .mcd-store-menu-category-item__calories.is-hidden-touch {
        margin-top: 10px;
    }

.mcd-store-menu-category-item__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limita el texto a 3 líneas */
    -webkit-box-orient: vertical;
}
/*MC*/

.read-more, .read-less {
    font-weight: bold;
    cursor: pointer;
    display: none; /* Oculto por defecto */
}

.card.expanded .mcd-store-menu-category-item__title {
    -webkit-line-clamp: unset; /* Elimina la restricción de líneas */
}

.card.expanded .read-more {
    display: none;
}

.card.expanded .read-less {
    display: inline;
}

.read-more {
    display: inline; /* Muestra el botón "leer más" por defecto */
}