@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    padding-top: 86px;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px !important;
}

@media (min-width: 1400px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        max-width: 1380px;
        margin: 0 auto;
        padding: 20px; /* Añadido para que no toque los bordes en pantallas pequeñas */
    }
}

.container a {
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
}

.container--section {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

    .container--section h2 {
        font-family: "Speedee", arial, helvetica, sans-serif;
        color: #292929;
        word-spacing: 1px;
        font-weight: 600;
        font-size: 28px;
        width: 100%;
        display: flex;
        align-items: center;
    }

.view-all {
    font-size: 16px;
    color: #4090C2;
    text-decoration: none;
    position: absolute;
    left: 30%;
}

@media(min-width: 300px) and (max-width: 500px) {
    .container--section h2 {
        padding-left: 20px;
        font-weight: 600;
        font-size: 22px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 300px) and (max-width: 1070px) {
    .view-all {
        left: 67%;
    }
}
    .view-all:hover {
        color: #2F6A8F;
    }

    .view-all img{
        margin-left: 5px;
        width:12px;
    }

.card {
    max-width: 300px;
    width: 300px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

@media (min-width: 375px) and (max-width: 415px) {
    .card {
        position: relative;
        max-width: 250px;
        width: 250px;
        display: flex;
        background-color: white;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        margin: 10px;
    }
}

.card:hover {
    box-shadow: 0 8px 8px rgba(0,0,0,0.2);
}

.card-content {
    padding-right: 5px;
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .card-content h3 {
        margin: 0;
        font-size: 18px;
    }

    .card-content hr {
        color: #333;
    }

.card-image {
    height: 120px;
    display: flex;
}

    .card-image img {
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

        .card-image img:hover {
            transform: scale(1.1);
        }

.price {
    margin-top: auto;
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

/* Animaciones de despliegue y repliegue */
@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 1000px; /* Ajustar seg�n el contenido esperado */
        opacity: 1;
    }
}

@keyframes collapse {
    from {
        max-height: 1000px; /* Ajustar seg�n el contenido esperado */
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: 0;
    }
}

.expanding {
    overflow: hidden;
    animation: expand 1.0s ease-out forwards;
}

.collapsing {
    overflow: hidden;
    animation: collapse 0.5s ease-out forwards;
}
/* Animaciones de despliegue y repliegue */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.titulo-menu {
    text-align: center;
    justify-content: center;
    color: #333;
}

/*MC*/
.mcd-store-menu-category-item .mcd-store-menu-category-item__title--is-clamped {
    text-overflow: ellipsis;
    display: block;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mcd-store-carousel-product-item .mcd-store-menu-category-item__title--is-clamped {
    display: -webkit-box;
    height: auto;
}

.mcd-store-carousel-product-item:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.mcd-store-menu-category-item .mcd-store-menu-category-item__title--is-clamped {
    text-overflow: ellipsis;
    display: block;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mcd-store-menu-category-item__calories {
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    width: 100%;
    color: #292929;
}

    .mcd-store-menu-category-item__calories.is-hidden-touch {
        margin-top: 10px;
    }

.mcd-store-menu-category-item__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limita el texto a 3 l�neas */
    -webkit-box-orient: vertical;
}
/*MC*/

.read-more, .read-less {
    font-weight: bold;
    cursor: pointer;
    display: none; /* Oculto por defecto */
}

.card.expanded .mcd-store-menu-category-item__title {
    -webkit-line-clamp: unset; /* Elimina la restricci�n de l�neas */
}

.card.expanded .read-more {
    display: none;
}

.card.expanded .read-less {
    display: inline;
}

.read-more {
    display: inline; /* Muestra el bot�n "leer m�s" por defecto */
}

/*Extras*/

.menu--a--render {
    margin-top:10px;
    color: #adadad;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Speedee", arial, helvetica, sans-serif;
}

    .menu--a--render a {
        text-decoration: underline;
    }

@media (min-width: 300px) and (max-width: 1070px) {
    .menu--a--render {
        margin-left: 10px;
    }
}