@model PedidosApp.Models.ArticuloModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/abm/createstyle.css" rel="stylesheet" />

<div class="card shadow mb-4 custom-card">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Crear Artículo</h6>
        <a class="btn btn-primary btn-sm" asp-action="Index">Volver a la Lista</a>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre Artículo</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Id_Rubro" class="control-label">Rubro</label>
                <input asp-for="Id_Rubro" class="form-control" />
                <span asp-validation-for="Id_Rubro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio.Precio" class="control-label"></label>
                <input asp-for="Precio.Precio" class="form-control" data-val="false" />
                <span asp-validation-for="Precio.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url_Imagen" class="control-label"></label>
            </div>
            <div>
                <input type="file" name="Imagen" class="form-control-file" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
