@model PedidosApp.Models.ArticuloModel

@{
    ViewData["Title"] = "Editar Artículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/abm/editstyle.css" rel="stylesheet" />
<div class="card shadow mb-4 custom-card">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Editar Artículo</h6>
        <a class="btn btn-primary btn-sm" asp-action="Index">Volver a la Lista</a>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Articulo" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="Activo" />
                <label class="form-check-label" asp-for="Activo"></label>
            </div>
            <div class="form-group">
                <label asp-for="Id_Rubro" class="control-label"></label>
                <input asp-for="Id_Rubro" class="form-control" />
                <span asp-validation-for="Id_Rubro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio.Precio" class="control-label"></label>
                <input asp-for="Precio.Precio" class="form-control" data-val="false" />
                <span asp-validation-for="Precio.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url_Imagen" class="control-label"></label>
            </div>
            <div>
                <input type="file" name="Imagen" class="form-control-file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
