@model PedidosApp.Models.CodigoRecuperacionModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link href="~/css/changePasswordStyle.css" rel="stylesheet" />

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <div class="container">
        <h1>Cambiar Contraseña</h1>

        <form id="formularioRecuperar">

            <div class="campo">
                <label for="nuevaContraseña">Nueva contraseña:</label>
                <input type="password" id="nuevaContraseña" name="nuevaContraseña" placeholder="Ingrese su nueva contraseña" required>
            </div>

            <div class="campo">
                <label for="confirmarContraseña">Confirmar nueva contraseña:</label>
                <input type="password" id="confirmarContraseña" name="confirmarContraseña" placeholder="Confirme su nueva contraseña" required>
            </div>

            <button type="submit">Cambiar Contraseña</button>
        </form>

        <p id="mensaje"></p>
    </div>

</body>
</html>
