@model PedidosApp.Models.CodigoRecuperacionModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}

<link href="~/css/recoverUserStyle.css" rel="stylesheet" />

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="container">
        <h1>Recuperar contraseña</h1>

            <div class="campo">
                <label for="Usuario">Usuario:</label>
                <input type="text" id="usuario" name="Usuario" placeholder="Ingrese su Usuario" required>
            </div>
            <div class="campo">
                <label for="codRecuperacion">Código de recuperación:</label>
                <input type="text" id="codRecuperacion" name="codRecuperacion" placeholder="Ingrese su código de recuperación" required>
            </div>

            <button onclick="validateUser()">Recuperar contraseña</button>

        <div id="mensaje" style="margin-top: 5px;"></div>
    </div>

</body>
</html>

@section Scripts{

    <script>
        function validateUser(){
            var usuario = $("#usuario").val();
            var codigoRecuperacion = $("#codRecuperacion").val();

            console.log("Usuario: ", usuario);
            console.log("Cod Recuperación: ", codigoRecuperacion);

            if (usuario == '' || codigoRecuperacion == '') {
                $('#mensaje').removeClass().
                    addClass('text-danger').text("Por favor completar todos los campos.");
                return;
            }

            $.ajax({
                url: '@Url.Action("ValidateUser", "Access")',
                type: 'POST',
                data: { usuario, codigoRecuperacion },
                success: function (response) {
                    if (response.success) {
                        console.log("ENTRE A SUCCESS TRUE");
                        $('#mensaje').removeClass().
                            addClass('text-success').text(response.message);
                    }
                    else {
                        console.log("ENTRE A SUCCESS FALSE");
                        $('#mensaje').removeClass().
                            addClass('text-danger').text(response.message);
                    }
                },
                error: function (response) {
                    console.log("ENTRE A ERROR");
                    $('#mensaje').removeClass().
                        addClass('text-danger').text("Error al comunicarse con el servidor.");
                }
            });
        }
    </script>
}