@model IEnumerable<PedidosApp.Models.ArticuloModel>

@using Microsoft.AspNetCore.Html
@using PedidosApp.Helpers

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout3";
}

@*Estilos*@
<link href="~/css/home/styleshome.css" rel="stylesheet" />
<link href="~/css/general/stylescarrito.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link href="~/css/home/navbarhomemc.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>Pedidos APP</title>
</head>
<body>

    @Html.Raw(RenderHelper.RenderRubrosNav(ViewBag.RubrosActivos).ToString())

    @foreach (var categoria in ViewBag.CategoriasActivas)
    {
        @Html.Raw(RenderHelper.RenderArticulosPorRubrosSection(Model, $"{categoria.Id_Categoria}", $"{categoria.Nombre}", 4, "Categoria").ToString())
    }

</body>
</html>

@section Scripts {
    <script src="~/js/general/togglemenunavrubros.js"></script>
    <script src="~/js/general/toggledescription.js"></script>
}