@model IEnumerable<PedidosApp.Models.ArticuloModel>

@using Microsoft.AspNetCore.Html
@using PedidosApp.Helpers

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout3";
}

@*Estilos*@
<link href="~/css/home/styleshome.css" rel="stylesheet" />
<link href="~/css/general/stylescarrito.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!DOCTYPE html>
<html>
<head>
    <title>Pedidos APP</title>
</head>
<body>

    @Html.Raw(RenderHelper.RenderArticulosPorRubrosSection(Model,"Hamburguesas", "Hamburguesas", 4).ToString())
    @Html.Raw(RenderHelper.RenderArticulosPorRubrosSection(Model, "Milanesas", "Milanesas", 4).ToString())
    @Html.Raw(RenderHelper.RenderArticulosPorRubrosSection(Model, "Cafetería", "Cafeteria", 4).ToString())

</body>
</html>

@section Scripts{
    <script src="~/js/general/toggledescription.js"></script>
}