@model IEnumerable<PedidosApp.Models.ArticuloModel>

@using Microsoft.AspNetCore.Html
@using PedidosApp.Helpers

@{
    ViewData["Title"] = "PedidosPorRubrosOCategorias";
    Layout = "_Layout3";
}

<link href="~/css/home/styleshome.css" rel="stylesheet" />
<link href="~/css/general/stylescarrito.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link href="~/css/home/navbarhomemc.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>Pedidos APP</title>
</head>
<body>

    @Html.Raw(RenderHelper.RenderArticulos(Model, ViewBag.RubroCategoriaActivos).ToString())

</body>
</html>

@section Scripts {
    <script src="~/js/general/toggledescription.js"></script>
}