@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<link href="~/css/loginStyle.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
</head>
<body>
    <div class="contenedor">
        <h1>Inicio de sesión</h1>
        <form action="#">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario">
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
            <button type="submit">Iniciar sesión</button>
        </form>
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </div>
</body>
</html>