<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PedidosApp</title>
    <link href="~/css/layoutstyle.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="menu-button" onclick="openNav()">&#9776;</span>
            <div class="navbar-brand">
                <a asp-controller="Access" asp-action="Login">
                    <img class="image-logo" src="@Url.Content("~/logos/PedidosApp-LogoGrande.png")" alt="PedidosApp" />
                </a>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" class="dropdown-btn">Artículos</a>
        <div class="dropdown-container">
            <a asp-controller="Articulo" asp-action="Index">Lista Artículos</a>
            <a asp-controller="Articulo" asp-action="Create">Crear Artículo</a>
        </div>
        <a href="#">Carrito</a>
        <a href="#">Pedidos</a>
        <a href="#">Perfil</a>
        <a href="#">Configuración</a>
        <a asp-controller="Access" asp-action="LogOut" class="logout-button">Logout</a> <!-- Enlace para Logout -->
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

        document.addEventListener("DOMContentLoaded", function () {
            var dropdowns = document.getElementsByClassName("dropdown-btn");
            for (var i = 0; i < dropdowns.length; i++) {
                dropdowns[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.maxHeight) {
                        dropdownContent.style.maxHeight = null;
                    } else {
                        dropdownContent.style.maxHeight = dropdownContent.scrollHeight + "px";
                    }
                });
            }
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Theme/js/demo/datatables-demo.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
