@model ErrorViewModel

@{
    ViewData["Title"] = "Error Page";
}
<link href="~/css/abm/createstyle.css" rel="stylesheet" />

<div class="card shadow mb-4 custom-card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                @if (TempData["Error"] != null)
                {
                    <p class="lead text-gray-800 mb-5 alert alert-danger" role="alert">
                        @TempData["Error"]
                    </p>
                }
                else
                {
                    <div class="lead text-gray-800 mb-5 alert alert-danger" data-text="Acceso Denegado" id="acceso-denegado-text">
                        Error interno de la aplicación
                    </div>
                }
                @if (TempData["OriginalUrl"] != null)
                {
                    <div class="text-center">
                        <button onclick="window.location.href='@TempData["OriginalUrl"]'" class="btn btn-primary">Reintentar</button>
                    </div>
                }
                <hr />
                <a asp-controller="Home" asp-action="Index">&larr; Volver</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}